/**Media Query****************************/
@media screen and (max-width: 1039px) {
    .hero{
        div{
            h2{
                font-size: 50px;
            }
            p{
                font-size: 30px;
            }
        }
    }
    .beggining{
        flex-direction: column-reverse;
    }

   
}

@media screen and (max-width: 859px) {

    .hero{
        flex-direction: column;
        div{
            h2{
                padding-top: 30px;
            }
            img{
                width: 70%;
            }
        }
    }
}

@media screen and (max-width:815px){
    .pads{
        flex-direction: column-reverse;
        div{
            width: 90%;

            h2{
                padding-top: 10px;
            }
        }
    }

    .grid-galeria{
        grid-template-columns: 1fr;
        grid-auto-rows: 400px;
    }

    .img-5{
        grid-column: span 1;
    }

    .section table{
        @include flex (flex, left, center);
        flex-direction: column;
    }
}

@media screen and (max-width: 775px){
    .stats{
        grid-template-columns: repeat(3, 1fr);
        h2{
            font-size: 50px;
        }

        div{
            span{
                font-size: 60px;
            }
        }
    }

    .span-grid{
        grid-column: span 2;
    }

    .about{
        flex-direction: column-reverse;
        div{
            h2{
                font-size: 30px;
                padding-left: 10px;
            }

            p{
                font-family: 'Poppins', sans-serif;
                font-size: 15px;
                padding-left: 10px;
            }

            a{
                font-size: 20px;
            }

            img{
                height: 250px;
            }
        }
    }
    .row{
        padding-left:10px;
    }

    .benefits{
        width: 100%;
        flex-direction: column;
        height: 350px;
        text-align: center;
    }   
    
}

@media screen and (max-width: 615px){
    .intro{
        height: 350px;
    }
    .table{
        display: none;
    }

    .schedule-mobile{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 10px;
        width: 100%;
        flex-wrap: wrap;

        div{
            div{
                button{
                    font-size: 30px;
                    background-color: white;
                    color: black;
                    border: solid 2px black;
                    border-radius: 10px;
                    font-family: 'Teko', sans-serif;
                    padding: 5px 10px 5px 10px;
                    transition: 0.5;

                    &:hover{
                        color: nth($colors, 4);
                        background-color: nth($colors, 3);
                    }

                }

                ul{
                    li{
                        font-family: 'Poppins', sans-serif;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 591px){
    .hero{
        div{
            h2{
                font-size: 40px;
                background-color: nth($colors, 1);
            }
            p{
                font-size: 25px;
            }
        }
    }
    .about{
        background: linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0)), url(../img/about-index.JPG);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 250px;
        img{
            display: none;
        }

        div{
            h2{
                background-color: nth($colors, 1);
                width: 100px;
                padding-left: 5px;
                text-align: start;
            }
            p{
                background-color: nth($colors, 1)
            }
        }
    }
    .grid-galeria{
        grid-auto-rows: 300px;
    }

    .sessions{
        height: 350px;

        .accordion{
            width: 100%;
            padding: 0 5px 0 5px;
        }

        .accordion-item{
            font-size: 13px;
        }
    
        .accordion-button{
            font-size: 13px;
        }
    }
}

@media screen and (max-width: 449px){
    .stats{
        @include flex (flex, center, center);
        flex-direction: column;
        height: 250px;
        h2{
            font-size: 35px;
        }
        div{
            h3{
                font-size: 30px;

                span{
                    font-size: 40px;
                }
            }
            
        }
    }
    .banner{
        height: 50px;
        div{
            h2{
                font-size: 30px;
            }
        }
    }

    .about{
        div{
            p{
                font-size: 13px;
            }
            a{
                font-size: 15px;
            }
        }
    }

    .schedule-mobile{
        div{
            div{
                button{
                    margin-top: 15px;
                    font-size: 25px;
                }
            }
        }
        
    }

    .pads{
        div{
            h2{
                font-size: 40px;
            }
        }
    }

    .benefits{
        div{
            p{
                font-size: 20px;
            }
        }
    }

    .adress{
        div{
            iframe{
                height: 200px;
            }
        }
    }
}

